* {
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
}
.grid-container {
    width: 95%;
    height: 80vh;
    margin: 10px 10px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "header header header header"
    "navigation navigation navigation navigation"
    "main main image article"
    "main main news news"
    "footer footer footer footer";
}
.grid-item {
    border: 1px solid black;
}
.item-1 { 
    grid-area: header;
}
.item-2 {
    grid-area: navigation;
}
.item-3 {
    grid-area: main;

}
.item-4 {
    grid-area: image;

}
.item-5 {
    grid-area: article;
}
.item-6 {
    grid-area: news;
}
.item-7 {
    grid-area: footer;
}