* {
    margin: 0;
    padding: 0;
}
.grid-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(162, 235, 79);
    display: grid;
    gap: 10px 10px;
    grid-template-areas: 
    "sid1 sid2 sid2 sid2"
    "sid3 sid3 sid6 sid7"
    "sid3 sid3 sid6 sid8"
    "sid4 sid5 sid6 sid9";
  
}
.grid-item {
    min-height: 100%;
    background-color: blueviolet;
}
.sid-1 {
    grid-area : sid1;
}
.sid-2 {
    grid-area: sid2;
}
.sid-3 {
    grid-area: sid3;
}
.sid-4 {
    grid-area: sid4;
}
.sid-5 {
    grid-area: sid5;
}
.sid-6 {
    grid-area: sid6;
}
.sid-7 {
    grid-area: sid7;
}
.sid-8 {
    grid-area: sid8;
}
.sid-9 {
    grid-area: sid9;
}
@media screen and (max-width:780px) {
    .grid-container {
        grid-template-areas: 
    "sid1 sid2 sid2 sid2"
    "sid3 sid3 sid6 sid7"
    "sid3 sid3 sid6 sid8"
    "sid4 sid5 sid6 sid9" ;
    }
    
}
@media screen and (max-width:450px) {
    .grid-container {
        grid-template-areas: 
        "sid1"
        "sid2"
        "sid3"
        "sid4"
        "sid5"
        "sid6"
        "sid7"
        "sid8"
        "sid9";
    
    }
    
}